/* --------------- Normalize ------------------------ */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a,
a:hover {
	color: #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	text-decoration: none;
}

html {
    /* Settin 1rem = 10px */
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    width:100%;
    margin: auto;
    height: 100%;
    font-family: 'Dancing Script', cursive;
}
header{
    
    border-bottom: 2px solid black;
}
main{
    width:80%;
    margin:auto;
    padding: 5rem;
    
    border-left:2px solid black;
    border-right:2px solid black;
}


/********************************HEAD*****************************************/

.img-logo{
    float:left;
    max-width: 100%;
  

}


/************************************ BUTTONS *********************************/

/****************MENU******************************/
.menu-wrapper{
    padding-top: 5rem; 
    margin:auto;
}
.menu-wrapper div{
    display: inline-block;
    padding: 0 2.5%;
}
.contact-wrapper{
    
    display: -ms-grid;
    
    display: grid;
    -ms-grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 0.2rem; 
    padding-top:3.5rem;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.btn{
    margin: 1rem 1.2rem;
    background-color: #a98357;
    color: white;
    border: 3px solid #71583a;
    font-size: 2rem;
    height:4rem;
    width: 22rem;
    font-family: 'raleway';
    max-width: 100%;

    
}
.btn:hover{
    background-color: #71583a;
}

.adres{
    
    margin-left:1.5rem;
}
a .adres {
    color: black;
    text-decoration: none;
}

/*************************MAIN*******************************************/


p.overOns{
    font-size: 2rem;
    font-family: 'raleway';
    text-align: justify;
    
}
.overOns{
    
    width:62%;
    margin:auto; 
    
}


/* ------------------- SHARE BUTTONS ------------------------------ */


.share-wrapper{
    width:62%;
    display: -ms-grid;
    display: grid;
    -ms-grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 0.2rem; 
    margin:auto
    
}



/******************************TreatmentView**********************************/
section{
    width:80%;
    margin:auto;
    padding: 5rem;
    
    border-left:2px solid black;
    border-right:2px solid black;
    
}
.wrapperTreatment{
    display: -ms-grid;
    display: grid;
    -ms-grid-template-columns: 2fr 3fr 1fr ;
    grid-template-columns: 2fr 3fr 1fr ;
    font-size: 1.5rem;
    font-family: 'raleway';
}
  

.box{
    display: inline-block;
    padding: 0.5rem;
    font-size: 100%;
    line-height: 2rem;
    border-bottom: 2px solid black;
    padding-top: 2rem;

}


.colH{

    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin-top:1.5rem;

}

/*************************************IMAGE CAROUSEL******************************/
.slide{
    width:62%;
    margin:auto;
}

.carousel-inner > .item > img,
.carousel.inner > .item > a > img{
    
    width:100%;
    margin:auto;
    
}
.carousel-control{
    opacity: 0;
}
.carousel-control:hover,
.carousel-control:active{
    opacity: 0;
}
/**************************************GALERY*************************************/
.wrapperImg{
    width: 70rem;
    padding: 5px;
    margin : 1.5rem auto;
    border: 1px solid #cbcbcb;
    display: -ms-grid;
    display: grid;
    -ms-grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
}
.galeryImg{
    width: 35rem;
    height:30rem;
    margin:auto;
}
.item p{
    font-size: 2rem;
    font-family: 'raleway';
    text-align: justify;
    text-justify: auto;
    background-color: white;
    padding: 2rem;
}

/***************************************SOCIAL MEDIA*****************************/

.socialeMedia-wrapper{
    
    display: -ms-grid;
    
    display: grid;
    -ms-grid-template-columns: 2fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    padding-top: 5rem;
}

.socialeMedia-wrapper a{
    
    display: inline-block;
    padding-top: 2rem;
}



/************************************************************SMALL SCREENS: ***********************************************/

@media all and (max-width: 800px){
    .overOns{
        width:100%;
    }
    .slide{
        width:100%;
    }
    .share-wrapper{
       width:100%;
    }

}

@media all and (max-width: 660px){
    
    section{
        width:100%;
        padding:1rem;
    }  
    .colH{
        font-size: 2rem;
        font-weight:bold;
    }
    main{
        padding:1rem;
        
    }

    .contact-wrapper{
    padding-top: 2rem;
    -ms-grid-template-columns: 1fr;
    grid-template-columns: 1fr;
    margin:auto;

}
    .contact-wrapper h3{
        
        margin: 1rem auto;
    }
    .share-wrapper{
        -ms-grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        
    }
}
